.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  width: 15rem;
  height: 22rem;
  cursor: pointer;
  overflow: hidden;

  &.expanded {
    width: 30rem; 
    height: 22rem; 
  }

  .default-view,
  .expanded-view {
    .prd-img {
      display: flex;
      background-color: lightgray;
      height: 10rem;
      width: 14rem;
      justify-content: center;
      border-radius: 5px 5px 0px 0px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .pc-scn-1 {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin: 0.5rem 0.5rem;
    }
  }

  .pc-scn-2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;

    .prd-ttl {
      margin: 0.5rem 0rem;
    }
  }
}
