.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  width: 15rem;
  height: 25rem;
  overflow: hidden;

  .pc-scn-1 {
    width: 100%;
    z-index: 1;
    background-color: none;
    position: absolute;
    top: 0;
    left: 0;

    .sc1-wrpr {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;

      .chk-bx {
        color: #fff;
        cursor: pointer;
        font-size: large;

        .bx {
          height: 1.8rem;
          width: 1.8rem;
          background-color: #26262633;
          color: #fff;
          cursor: pointer;
        }
        .checkmark {
          color: #fff;
        }
      }
      .cta-btn {
        display: flex;
        align-items: center;
        justify-items: center;
        background-color: #26262633;
        border: none;
        color: #262626;
        border-radius: 50%;
        height: 1.8rem;
        width: 1.8rem;
        cursor: pointer;

        .btn-icn {
          font-size: large;
        }
      }
    }
  }

  .pc-scn-2 {
    position: relative;
    z-index: 0;
    background-color: lightgray;
    height: 12.5rem;
    width: 100%;

    .prd-img{
      width: 100%;
      height: 12.5rem;
      justify-content: center;
    }

  }
}
