.finder {
  width: 100%;
  .find-bar {
    display: flex;
    gap: 0.5rem;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: #2626261a;
    font-size: small;
    align-items: center;
    padding: 0.2rem;

    .input {
      background-color: transparent;
      height: 1.75rem;
      border: 0;
      border-radius: 60px;
      outline: none;
      flex: 1;
      padding: 0rem 0rem 0rem 1rem;
      font-size: medium;
      color: #29ab87;

      &::placeholder {
        color: #29ab87;
      }
    }

    .find-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2rem;
      height: 2rem;
      background-color: #29ab87;
      border: 0;
      border-radius: 5px;
      font-size: small;
      color: #ffffff;
      cursor: pointer;
      padding: 0rem 1rem;
    }
  }
}
