.ftr-wrpr {
  z-index: 5;
  width: 100%;
  height: fit-content;
  border-top: 1px solid lightgray;

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 50px;

    .links {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      

      .lnk-cntr {
        display: flex;
        padding: 1rem 0rem;
        width: fit-content;
        justify-content: center;
        align-items: center;

        #ftr-lnk {
          text-decoration: none;

          &:hover {
            color: #29ab87;
          }
        }
      }
    }
  }
}
