.inbx-wrpr {
  background-color: #ffffff;
  margin: 1.5rem;
  border-radius: 5px;
  padding: 0.5rem;

  .scn-wrpr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    gap: 1rem;
  }
}
