.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 15rem;
  position: absolute;
  z-index: 100;
  background-color: #ffffff;
  border-right: 1px solid #dcdcdc;
  border-top-width: 0px;
  border-bottom-width: 0px;
  transition: transform 0.3s ease-in-out;

  &.hidden {
    transform: translateX(-15rem);
  }

  .sidebar-content{
    display: flex;
    flex-direction: column;
    height: 100vh;

    .biz-prof {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid lightgray;
    }
  
    .menu-bar {
      overflow-y: auto;
      flex-grow: 1;
  
      .menu-wrp {
        padding: 1rem;
  
        .m-title {
          color: #262626;
          padding-left: 0.5rem;
        }
  
        #menu-itm {
          position: relative;
          padding: 0rem;
          margin-bottom: 0.5rem;
          height: 2.5rem;
          border-radius: 5px;
          align-items: center;
          text-decoration: none;
          display: flex;
          align-items: center;
          padding: 0rem 0.5rem;
          gap: 0.5rem;
          font-size: small;
          font-weight: bold;
          color: #656565;
  
          .m-icn {
            font-size: small;
          }
  
          .badge {
            margin-right: 0.5rem;
            width: 0.5rem;
            height: 0.5rem;
            background-color: orangered;
            border-radius: 50%;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 50;
            right: 0;
          }
  
          &:hover {
            color: #262626;
            background-color: #2626261a;
          }
  
          &.active {
            color: #ffffff;
            background-color: #29ab87;
  
            .badge {
              background-color: palegreen;
            }
          }
        }
      }
    }
  
    .usr-prof {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top: 1px solid lightgray;
      bottom: 0;
    }
  
  }

  .toggle {
    height: 2.5rem;
    width: 2.5rem;
    color: #656565;
    padding: 0.5rem;
    background-color: transparent;
    cursor: pointer;
    display: none;

    &:hover {
      color: #262626;
      background-color: #2626261a;
    }

    &:active {
      color: #ffffff;
      background-color: #29ab87;
    }

    @media (max-width: 48em) {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: 50%;
      top: 0.3rem;
      right: -4rem;
      z-index: 100;
    }
  }

  @media (min-width: 48em) {
    position: static;
    transform: none;
  }
}

