.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15rem;
  min-width: 15rem;
  flex-shrink: 0;
  background-color: transparent;
  border-right: 1px solid #dcdcdc;
  transition: width 0.3s ease-in-out, min-width 0.3s ease-in-out;
  overflow: hidden;

  &.hidden {
    width: 0;
    min-width: 0;
  }

  .sidebar-content {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .biz-prof {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid lightgray;
    }

    .menu-bar {
      overflow-y: auto;
      flex-grow: 1;

      .menu-wrp {
        padding: 1rem;
        height: 100%;

        .divider {
          margin: 2rem 0;
          .m-title {
            color: #262626;
            padding-left: 0.5rem;
          }
        }

        #menu-itm {
          position: relative;
          margin-bottom: 0.5rem;
          height: 2.5rem;
          border-radius: 5px;
          display: flex;
          align-items: center;
          padding: 0 0.5rem;
          gap: 0.5rem;
          font-size: small;
          font-weight: bold;
          color: #656565;
          text-decoration: none;

          &:hover {
            color: #262626;
            background-color: #2626261a;
          }

          &.active {
            color: #ffffff;
            background-color: #29ab87;
          }
        }
      }
    }

    .usr-prof {
      max-height: 51px;
      display: block;
      border-top: 1px solid lightgray;
    }
  }
}